*{
  box-sizing: border-box;
}
@font-face{
  font-family: 'IRANsans';
  src:  url(font/IRANSansWeb.ttf);
}
body{
  position: relative;
  font-family: 'IRANsans'
}

div.all{
  width   : 1450px;
  height  : 4815px;
  left    : 203px;
  right   : 203px;
  position: absolute;
  background-color: #eee;
}
header{
  position  : fixed;
  width     : inherit;
  /*box-shadow: 0 0 0.8em 0 #000;*/
}
div.top-head{
  width           : 100%;
  background-color: #00838F;
  height          : 90px;
  position        : relative;
  display         : flex;
  flex-direction  : row-reverse;
  overflow        : hidden;
}
img.logoright{
  position    : absolute;
  right       : 0;
  width       : 250px;
  height      : 79.16px;
  margin-right: 62px;
}
img.logoleft{
  position   : absolute;
  left       : 0;
  width      : 227px;
  height     : 60px;
  margin-left: 16px;
}
div.search{
  position      : absolute;
  left          : 50%;
  top           : 50%;
  transform     : translate(-50%, -50%);
  width         : 362px;
  height        : 44px;
  display       : flex;
  flex-direction: row-reverse;
}
div.search input{
  width        : 315px;
  height       : 44px;
  direction    : rtl;
  padding      : 2px 12px 8px;
  font-size    : 14.66px;
  border       : none;
  outline      : none;
  border-radius: 0 3px 3px 0;
}
::placeholder {
  color  : #aaa;
  opacity: 1;
}
div.l-icon{
  width           : 46px;
  height          : 44px;
  background-color: white;
  border-right    : 1px solid #d2e5e8;
  border-radius   : 3px 0 0 3px;
  position        : relative;
}
div.l-icon span{
  position : absolute;
  font-size: 16pt;
  color    : #3d96ae;
  top      : 6px;
  left     : 11.5px;
}
div.sayeh{
  position  : absolute;
  left      : 50%;
  top       : calc(50% + 32px);
  transform : translate(-50%, -50%);
  width     : 358px;
  height    : 20px;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#489fa6), to(#00838F));
}
div.i-left{
  display       : flex;
  flex-direction: row;
  position      : absolute;
  top           : 6.3px;
  left          : calc(1% + 2px);
  margin-top    : 0.2px;
}
div.i-left div span{
  font-size       : 19pt;
  color           : #277e87;
  background-color: #fff;
  border-radius   : 100%;
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  height          : 32px;
  width           : 32px;
  box-shadow      : 0 0 0.2em 0 #224f56;
}
div.globe{
  position     : relative;
  width        : 40px;
  height       : 40px;
  border       : 1px solid #68bfc8;
  border-radius: 100%;
  margin-right : 4px;
  cursor       : pointer;
}
div.phone{
  position     : relative;
  width        : 40px;
  height       : 40px;
  border       : 1px solid #68bfc8;
  border-radius: 100%;
  margin-right : 4px;
  cursor       : pointer;
}
div.enter{
  position     : relative;
  width        : 40px;
  height       : 40px;
  border       : 1px solid #68bfc8;
  border-radius: 100%;
  cursor       : pointer;
}
.sf-globe:before{
  position : absolute;
  left     : 52%;
  top      : 46%;
  transform: translate(-50%, -50%);
}
.sf-phone:before{
  position : absolute;
  left     : 52%;
  top      : 46%;
  transform: translate(-50%, -50%);
}
.sf-enter:before{
  position : absolute;
  left     : 54%;
  top      : 46%;
  transform: translate(-50%, -50%);
}
div.in{
  position: relative;
  left: 2%;
  margin-top: 16px;
}
div.in a{
  color    : white;
  font-size: 12px;
}
div.in div{
  display  : inline;
  color    : white;
  font-size: 10px;
}
div.left-down{
  color       : #EEE;
  position    : absolute;
  left        : 0;
  bottom      : 8%;
  font-size   : 12.5px;
  padding-left: 20px;
}
div.down-head{
  width           : 100%;
  height          : 48px;
  background-color: #263238;
  position        : relative;
}
div.main-head{
  position     : absolute;
  padding-right: 10px;
  top          : 50%;
  right        : 0;
  transform    : translateY(-55%);
}
div.main-head span{
  color    : white;
  font-size: 24.5px;
  cursor   : pointer;
}
div.khat{
  position        : relative;
  width           : 1px;
  height          : 9.5px;
  background-color: white;
  margin-top      : 18px;
}
div.link-box{
  position      : absolute;
  right         : calc(2% + 4.5px);
  display       : flex;
  flex-direction: row-reverse;
}
div.link-1{
  position: relative;
  padding : 15px 20px 15px 10px;
  cursor  : pointer;
}
div.link-1 a{
  color     : white;
  font-size : 11pt;
  transition: 0.5s;
}
div.link-1:hover a{
  color: #80cbc4;
}
div.link-1 span{
  color       : #FDC00F;
  font-size   : 11pt;
  margin-right: 2px;
}
div.link-2{
  position: relative;
  padding : 15px 29px 15px 10px;
  cursor  : pointer;
}
div.link-2 a{
  color     : white;
  font-size : 11pt;
  transition: 0.5s;
}
div.link-2:hover a{
  color: #80cbc4;
}
div.link-2 span{
  color       : #FDC00F;
  font-size   : 11pt;
  margin-right: 2px;
}
div.link-3{
  position: relative;
  padding : 15px 29px 15px 9px;
  cursor  : pointer;
}
div.link-3 a{
  color     : white;
  font-size : 11pt;
  transition: 0.5s;
}
div.link-3:hover a{
  color: #80cbc4;
}
div.link-3 span{
  color       : #FDC00F;
  font-size   : 11pt;
  margin-right: 2px;
}
div.link-4{
  position: relative;
  padding : 15px 29px 15px 9px;
  cursor  : pointer;
}
div.link-4 a{
  color     : white;
  font-size : 11pt;
  transition: 0.5s;
}
div.link-4:hover a{
  color: #80cbc4;
}
div.link-4 span{
  color       : #FDC00F;
  font-size   : 11pt;
  margin-right: 2px;
}
div.link-5{
  position: relative;
  padding : 15px 29px 15px 10.5px;
  cursor  : pointer;
}
div.link-5 a{
  color     : white;
  font-size : 11pt;
  transition: 0.5s;
}
div.link-5:hover a{
  color: #80cbc4;
}
div.link-5 span{
  color       : #FDC00F;
  font-size   : 11pt;
  margin-right: 2px;
}
div.link-6{
  position: relative;
  padding : 15px 29px 15px 10px;
  cursor  : pointer;
}
div.link-6 a{
  color     : white;
  font-size : 11pt;
  transition: 0.5s;
}
div.link-6:hover a{
  color: #80cbc4;
}
div.link-6 span{
  color       : #FDC00F;
  font-size   : 11pt;
  margin-right: 2px;
}
div.link-7{
  position: relative;
  padding : 15px 29px 15px 10px;
  cursor  : pointer;
}
div.link-7 a{
  color     : white;
  font-size : 11pt;
  transition: 0.5s;
}
div.link-7:hover a{
  color: #80cbc4;
}
div.link-7 span{
  color       : #FDC00F;
  font-size   : 11pt;
  margin-right: 2px;
}
div.link-8{
  position: relative;
  padding : 15px 29px 15px 10px;
  cursor  : pointer;
}
div.link-8 a{
  color     : white;
  font-size : 11pt;
  transition: 0.5s;
}
div.link-8:hover a{
  color: #80cbc4;
}
div.link-8 span{
  color       : #FDC00F;
  font-size   : 11pt;
  margin-right: 2px;
}
div.ofogh{
  position      : absolute;
  left          : 8px;
  top           : 7.7px;
  display       : flex;
  flex-direction: row;
}
div.ofogh span{
  color    : #00838F;
  font-size: 18pt;
  cursor   : pointer;
}
div.m-ofogh a{
  position    : absolute;
  color       : white;
  font-size   : 11pt;
  padding-left: 8px;
  padding-top : 4px;
  transition  : 0.5s;
  width       : 90px;
}
div.m-ofogh a:hover{
  color: #80cbc4;
}
div.section1{
  width         : 1416px;
  height        : 419px;
  margin        : 138px 8px 0 17px;
  display       : flex;
  flex-direction: row-reverse;
  padding-top   : 17px;
}
div.img-right1{
  max-width : 629px;
  max-height: 402px;
  overflow  : hidden;
  position  : relative;
  float     : right;
}
div.img-right1 img{
  width              : 629px;
  height             : 402px;
  cursor             : pointer;
  position           : relative;
  top                : 0;
  right              : 0;
  background-position: right top;
  background-repeat  : no-repeat;
}
div.opac-1{
  width           : 643px;
  height          : 72px;
  position        : absolute;
  background-color: black;
  opacity         : 0.7;
  z-index         : 0;
  bottom          : 0;
  left            : 0;
}
div.img-min1{
  width       : 628px;
  height      : 402px;
  position    : relative;
  margin-right: 14px;
}
div.sec1-post1{
  position  : absolute;
  min-width : 306.5px;
  min-height: 192px;
  overflow  : hidden;
  top       : 0;
  right     : 0;
}
div.sec1-post1 img{
  width              : 306.5px;
  min-height         : 199px;
  margin-bottom      : 5px;
  background-position: center;
  top                : -3px;
  position           : absolute;
}
div.sec1-post2{
  position: absolute;
  width   : 306.5px;
  height  : 192px;
  overflow: hidden;
  top     : 0;
  left    : 0;
}
div.sec1-post2 img{
  width              : 306.5px;
  min-height         : 199px;
  margin-bottom      : 5px;
  background-position: center;
  top                : -4px;
  position           : absolute;
}
div.sec1-post3{
  position: absolute;
  width   : 306.5px;
  overflow: hidden;
  height  : 192px;
  bottom  : 0;
  right   : 0;
}
div.sec1-post3 img{
  width              : 306.5px;
  min-height         : 199px;
  margin-bottom      : 5px;
  background-position: center;
  top                : -3px;
  position           : absolute;
}
div.sec1-post4{
  position: absolute;
  width   : 306.5px;
  overflow: hidden;
  height  : 192px;
  bottom  : 0;
  left    : 0;
}
div.sec1-post4 img{
  width              : 306.5px;
  min-height         : 199px;
  margin-bottom      : 5px;
  background-position: center;
  top                : -4px;
  position           : absolute;
}
div.opac-2{
  width           : 643px;
  height          : 46px;
  position        : absolute;
  background-color: black;
  opacity         : 0.7;
  z-index         : 0;
  bottom          : 0;
  left            : 0;
}
div.text1-ir1{
  position    : absolute;
  bottom      : 48px;
  color       : white;
  right       : 15px;
  font-size   : 12px;
  word-spacing: -0.3px;
}
div.text2-ir1{
  position   : absolute;
  bottom     : 17px;
  color      : white;
  right      : 15px;
  font-weight: bold;
  font-size  : 14.66px;
  transition : 0.7s;
}
div.img-right1:hover div.text2-ir1{
  color: #FFC501;
}
div.text1-sp1{
  position    : absolute;
  bottom      : 27px;
  color       : white;
  right       : 5px;
  font-size   : 12px;
  word-spacing: -0.5px;
}
div.text2-sp1{
  position   : absolute;
  bottom     : 7px;
  color      : white;
  right      : 5px;
  font-weight: bold;
  font-size  : 13.33px;
  transition : 0.7s;
}
div.text1-sp2{
  position    : absolute;
  bottom      : 27px;
  color       : white;
  right       : 0.5px;
  font-size   : 12px;
  word-spacing: -0.2px;
}
div.text2-sp2{
  position   : absolute;
  bottom     : 7px;
  color      : white;
  right      : 5px;
  font-weight: bold;
  font-size  : 13.33px;
  transition : 0.7s;
}
div.text1-sp3{
  position    : absolute;
  bottom      : 27px;
  color       : white;
  right       : 5px;
  font-size   : 12px;
  word-spacing: -0.2px;
}
div.text2-sp3{
  position   : absolute;
  bottom     : 7px;
  color      : white;
  right      : 5px;
  font-weight: bold;
  font-size  : 13.33px;
  transition : 0.7s;
}
div.text1-sp4{
  position    : absolute;
  bottom      : 27px;
  color       : white;
  right       : 5px;
  font-size   : 12px;
  word-spacing: -0.2px;
}
div.text2-sp4{
  position   : absolute;
  bottom     : 7px;
  color      : white;
  right      : 5px;
  font-weight: bold;
  font-size  : 13.33px;
  transition : 0.7s;
}
div.img-left1{
  width       : 135px;
  height      : 404px;
  margin-right: 10px;
}
div.il-r1{
  background-color: #FAFAFA;
  height          : 88px;
  width           : 130px;
  box-shadow      : 0 0 0.1em 0.03em #e0dddb;
  cursor          : pointer;
  position        : relative;
  transition      : 0.5s;
}
div.il-r1:hover{
  box-shadow: 0 0 0.5em 0.05em #D1D1D1
}
div.il-r1:hover span.mob{
  box-shadow: 0 0 0.5em 0 #AAA;
}
span.mob{
  height           : 30px;
  width            : 30px;
  background-image : url(image/IconPack.png);
  background-repeat: no-repeat;
  display          : inline-block;
  border-radius    : 50%;
  background-color : #eee;
  position         : absolute;
  top              : 10px;
  left             : 15px;
}
div.il-r2{
  background-color: #FAFAFA;
  height          : 88px;
  width           : 130px;
  box-shadow      : 0 0 0.1em 0.03em #e0dddb;
  margin-top      : 17px;
  position        : relative;
  transition      : 0.5s;
}
div.il-r2:hover{
  box-shadow: 0 0 0.5em 0.05em #D1D1D1
}
div.il-r2:hover span.ham{
  box-shadow: 0 0 0.5em 0 #AAA;
}
span.ham{
  height             : 30px;
  width              : 30px;
  background-image   : url(image/IconPack.png);
  background-repeat  : no-repeat;
  display            : inline-block;
  position           : absolute;
  top                : 10px;
  left               : 15px;
  background-position: 4% 5.35%;
  background-size    : 40px auto;
  border-radius      : 50%;
  background-color   : #eee;
}
div.il-r3{
  background-color: #FAFAFA;
  height          : 88px;
  width           : 130px;
  box-shadow      : 0 0 0.1em 0.03em #e0dddb;
  margin-top      : 17px;
  position        : relative;
  transition      : 0.5s;
}
div.il-r3:hover{
  box-shadow: 0 0 0.5em 0.05em #D1D1D1
}
div.il-r3:hover span.zek{
  box-shadow: 0 0 0.5em 0 #AAA;
}
span.zek{
  height             : 30px;
  width              : 30px;
  background-image   : url(image/IconPack.png);
  background-repeat  : no-repeat;
  display            : inline-block;
  position           : absolute;
  top                : 10px;
  left               : 15px;
  background-position: 4% 1.8%;
  background-size    : 40px auto;
  border-radius      : 50%;
  background-color   : #eee;
}
div.il-r4{
  background-color: #FAFAFA;
  height          : 88px;
  width           : 130px;
  box-shadow      : 0 0 0.1em 0.03em #e0dddb;
  margin-top      : 17px;
  position        : relative;
  transition      : 0.5s;
}
div.il-r4:hover{
  box-shadow: 0 0 0.5em 0.05em #D1D1D1
}
div.il-r4:hover span.rez{
  box-shadow: 0 0 0.5em 0 #AAA;
}
span.rez{
  height             : 30px;
  width              : 30px;
  background-image   : url(image/IconPack.png);
  background-repeat  : no-repeat;
  display            : inline-block;
  position           : absolute;
  top                : 10px;
  left               : 15px;
  background-position: 4% 82.4%;
  background-size    : 40px auto;
  border-radius      : 50%;
  background-color   : #eee;
}
div.text-lt{
  position    : absolute;
  color       : #9E9E9E;
  right       : 15px;
  top         : 18px;
  font-size   : 10px;
  word-spacing: -0.5px;
}
div.link-ll1{
  font-size  : 14.66px;
  position   : absolute;
  right      : 15px;
  top        : 36px;
  font-weight: bold;
  max-width  : 20px;
  direction  : rtl;
  line-height: 19px;
  color      : #322E2E;
}
div.link-ll2{
  font-size  : 14.66px;
  position   : absolute;
  right      : 15px;
  top        : 36px;
  font-weight: bold;
  max-width  : 300px;
  direction  : rtl;
  line-height: 19px;
  color      : #322E2E;
}
div.link-ll3{
  font-size  : 14.66px;
  position   : absolute;
  right      : 15px;
  top        : 36px;
  font-weight: bold;
  max-width  : 300px;
  direction  : rtl;
  line-height: 19px;
  color      : #322E2E;
}
div.link-ll4{
  font-size  : 14.66px;
  position   : absolute;
  right      : 15px;
  top        : 36px;
  font-weight: bold;
  max-width  : 300px;
  direction  : rtl;
  line-height: 19px;
  color      : #322E2E;
}